<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>광장</title>
</head>
<body>
<div th:replace="~{fragment/header :: main-head}"></div>
    <div class="container">
        <!-- 전체 -->
        <table border="1">
            <thead>
                <tr>
                    <th>순위</th>
                    <th>아이디</th>
                    <th>목표 달성도</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="member : ${list}">
                    <td th:text="${member.memberRank}"></td>
                    <td th:text="${member.memberId}"></td>
                    <td th:text="${member.memberAchievementPercentage} + ' %'"></td>
                </tr>
            </tbody>
        </table>

    </div>
    <br>
    <hr>
    <br>
    <!-- 본인 -->
    <div th:if="${statistics}">
        <p><span th:text="'아이디: '"></span><strong th:text="${statistics.memberId}"></strong></p>
        <p><span th:text="'현재 몸무게: '"></span><strong th:text="${memberWeight} + ' kg'"></strong></p>
        <p><span th:text="'목표 달성도: '"></span><strong th:text="${statistics.memberAchievementPercentage} + ' %'"></strong></p>
        <p><span th:text="'BMI: '"></span><strong th:text="${statistics.memberBmi}"></strong></p>
        <p><span th:text="'순위: '"></span><strong th:text="${statistics.memberRank}"></strong></p>
    </div>

    <a href="/sjhealthy/statistics/graph"><button>몸무게 변화</button></a>
    <a href="/sjhealthy"><button>메인</button></a>


<div th:replace="~{fragment/footer :: main-foot}"></div>
</body>
</html>
