HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
sjhealthy-key.pem
src/main/resources/application.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### AppKey & code ###
/src/main/resources/properties/env.properties
/src/main/resources/properties/key.properties
/src/main/resources/properties/*
### 마지막 건 폴더 내 모든 파일. 위에 걸로 이미 적용되지만 그냥 썼다###


### 커밋 내역 수정용 백업 ###
.git-rewrite/
project_sjhealthy.git.bfg-report/
project_sjhealthy.git/
project-backup/
