<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>일지 작성</title>
  <!-- 헤더, 메인, 푸터 위치 고정 -->
  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <style>
    .card-header {
        background-color: #f8f9fa;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-body {
        font-size: 1.1rem;
    }

    .btn-custom {
        background-color: #007bff;
        color: white;
    }

    .btn-custom:hover {
        background-color: #0056b3;
        color: white;
    }

    .form-control {
        border-radius: 5px;
    }

    .table th, .table td {
        padding: 0.75rem;
        vertical-align: middle;
    }

    .text-center {
        text-align: center;
    }

    .text-view{
      text-align: left !important;
      font-family: monospace !important;
      font-size: xx-large !important;
    }
  </style>
</head>
<body>
<div th:replace="~{fragment/header :: main-head}"></div>
<main>
  <div class="container mt-5">
    <h2 class="mb-4 text-center text-view">일지 작성</h2>

    <div class="card shadow-lg">
      <div class="card-header">
        <span>일지 작성</span>
      </div>
      <div class="card-body">
        <form id="dailyWriteForm">
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr>
                <th><label for="dailyTitle">제목</label></th>
                <td>
                  <input type="text" id="dailyTitle" name="dailyTitle" class="form-control" placeholder="제목" maxlength="500" required>
                </td>
              </tr>
              <tr>
                <th><label for="dailyDate">작성일</label></th>
                <td>
                  <input type="text" id="dailyDate" name="dailyDate" class="form-control" placeholder="작성일" maxlength="8" readonly required>
                </td>
              </tr>
              <tr>
                <th><label for="dailyCurWt">현재체중</label></th>
                <td>
                  <input type="text" id="dailyCurWt" name="dailyCurWt" class="form-control" placeholder="현재체중" oninput="validateInput(this)" required>
                </td>
              </tr>
              <tr>
                <th><label for="dailyGoalWt">목표체중</label></th>
                <td>
                  <input type="text" id="dailyGoalWt" name="dailyGoalWt" class="form-control" placeholder="목표체중" maxlength="5" oninput="validateInput(this)" required>
                </td>
              </tr>
              <tr>
                <th><label for="dailyGoalSf">목표만족도</label></th>
                <td>
                  <input type="text" id="dailyGoalSf" name="dailyGoalSf" class="form-control" placeholder="목표만족도(상/중/하 中 택 1)" maxlength="5" required>
                </td>
              </tr>
              <tr>
                <th><label for="dailyMemo">메모</label></th>
                <td>
                  <textarea id="dailyMemo" name="dailyMemo" class="form-control" maxlength="2000"></textarea>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <input type="hidden" id="memberId" name="memberId" th:value="${loginId}">
          <div class="text-center">
            <button type="button" class="btn btn-custom" onclick="saveDailyWrite()">작성</button>
            <a href="../daily/dailyList" class="btn btn-secondary ml-2">목록</a>
          </div>
        </form>
      </div>
    </div>

  </div>
</main>
<div th:replace="~{fragment/footer :: main-foot}"></div>

<script th:inline="javascript">
  //페이지 진입 시
  $(document).ready(function() {
    //console.log("작성 페이지 진입!!");
    // 현재 페이지의 URL에서 쿼리 파라미터를 가져오는 방법
    const urlParams = new URLSearchParams(window.location.search);
    // 'dailyDate' 파라미터의 값을 가져옴
    const dailyDate = urlParams.get('dailyDate');
    // 콘솔에 출력
    //console.log(dailyDate);

    //작성일이 페이지에 자동으로 디폴값 설정되도록 처리
    $("#dailyDate").val(dailyDate);
  });





  /* 숫자와 소수점만 허용하고, 다른 문자는 삭제 */
  var prev = "";
  var regexp = /^\d*(\.\d{0,2})?$/;
  function validateInput(obj) {
      var id = obj.id;
      var firstChar = obj.value.charAt(0);
      if(firstChar == "."){
        alert("첫 번째 값은 숫자로 입력해주세요.");
        $("#" + id).val("");
        return;
      }

      if(obj.value.search(regexp)==-1) {
          obj.value = prev;
      }
      else {
          prev = obj.value;
      }
  }

  /*작성*/
  function saveDailyWrite(){
    var memberId = $("#memberId").val();
    var dailyTitle = $("#dailyTitle").val();
    var dailyDate = $("#dailyDate").val();
    var dailyCurWt = $("#dailyCurWt").val();
    var dailyGoalWt = $("#dailyGoalWt").val();
    var dailyGoalSf = $("#dailyGoalSf").val();
    var dailyMemo = $("#dailyMemo").val();

    dailyDate = dailyDate.replaceAll("/","");
    dailyMemo = dailyMemo.trim();

    var dailyYear = dailyDate.substring(0,4);
    var dailyMonth = dailyDate.substring(4,6);
    /*
    console.log("데이터");
    console.log("memberId" + memberId);
    console.log("dailyTitle" + dailyTitle);
    console.log("dailyDate" + dailyDate);
    console.log("dailyCurWt" + dailyCurWt);
    console.log("dailyGoalWt" + dailyGoalWt);
    console.log("dailyGoalSf" + dailyGoalSf);
    console.log("dailyMemo" + dailyMemo);
    console.log("dailyYear" + dailyYear);
    console.log("dailyMonth" + dailyMonth);
    console.log("끝");
    */

    //유효성검사
    if(dailyTitle.trim() == ""){
      alert("제목을 입력해주세요.");
      $("#dailyTitle").focus();
      return;
    }else if(dailyCurWt == ""){
      alert("현재체중을 입력해주세요.");
      $("#dailyCurWt").focus();
      return;
    }else if(dailyGoalWt == ""){
      alert("목표체중을 입력해주세요.");
      $("#dailyGoalWt").focus();
      return;
    }else if(dailyGoalSf == ""){
      alert("목표만족도를 입력해주세요.");
      $("#dailyGoalSf").focus();
      return;
    }else{
      $.ajax({
       url : '../daily/dailyWriteDetail',
       type : 'post',
       data: {
            memberId: memberId,
            dailyTitle: dailyTitle,
            dailyDate: dailyDate,
            dailyCurWt: dailyCurWt,
            dailyGoalWt: dailyGoalWt,
            dailyGoalSf: dailyGoalSf,
            dailyMemo: dailyMemo,
            dailyYear: dailyYear,
            dailyMonth: dailyMonth
       },
       success : function(response) {
          //console.log("success");

          // 서버에서 받은 alert 메시지와 리다이렉트 URL
          var alertMessage = response.alertMessage;
          var redirectUrl = response.redirectUrl;

          // alert을 띄운 후 리다이렉트
          alert(alertMessage);
          window.location.href = redirectUrl;

       }, error : function() {
          //console.log("fail");
       }
   });
    }
  }




  /*datepicker 구현*/
  /*
  $(function() {
    //기본적으로 현재 날짜 선택됨
    $('input[name="dailyDate"]').daterangepicker({
      singleDatePicker: true, //날짜 선택기를 단일 날짜 선택 모드로 설정
      showDropdowns: true,    //날짜 선택 시 월과 년을 드롭다운으로 보여주기 위한 설정
      minYear: 1901,          //날짜 선택기에서 선택할 수 있는 최소 연도 설정
      maxYear: parseInt(moment().format('YYYY'),10), //날짜 선택기에서 선택할 수 있는 최대 연도를 현재 연도로 설정
      locale: {
        format: 'YYYY/MM/DD'   // 날짜 형식을 yyyy/mm/dd로 설정
      }
    }, function(start, end, label) {
      //var years = moment().diff(start, 'years');
    });
  });
  */
</script>
</body>
</html>
