<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일지 작성</title>
    <style>
    </style>
</head>
<body>
  <div th:replace="~{fragment/header :: main-head}"></div>
  <table>
    <tbody>
    <tr>
      <th><span>제목</span></th>
      <td>
        <input type="text" id="dailyTitle" name="dailyTitle" placeholder="제목" maxlength="500" />
      </td>
    </tr>
    <tr>
      <th><span>작성일</span></th>
      <td>
        <input type="text" id="dailyDate" name="dailyDate" placeholder="작성일" maxlength="8" readonly="readonly" />
      </td>
    </tr>
    <tr>
      <th><span>현재체중</span></th>
      <td>
        <input type="text" id="dailyCurWt" name="dailyCurWt" placeholder="현재체중" oninput="validateInput(this)"/>
      </td>
    </tr>
    <tr>
      <th><span>목표체중</span></th>
      <td>
        <input type="text" id="dailyGoalWt" name="dailyGoalWt" placeholder="목표체중" maxlength="5" oninput="validateInput(this)"/>
      </td>
    </tr>
    <tr>
      <th><span>목표만족도</span></th>
      <td>
        <input type="text" id="dailyGoalSf" name="dailyGoalSf" placeholder="목표만족도" maxlength="5" />
      </td>
    </tr>
    <tr>
      <th><span>메모</span></th>
      <td>
        <textarea id="dailyMemo" name="dailyMemo" maxlength="2000">
        </textarea>
      </td>
    </tr>
    </tbody>
  </table>
  <input type="hidden" id="memberId" name="memberId" th:value="${loginId}">
  <button type="button" class="btn btn_st1" onclick="saveDailyWrite();">작성</button>
  <a href="../daily/dailyList">
    <button>목록</button>
  </a>
<div th:replace="~{fragment/footer :: main-foot}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- datepickern 라이브러리 추가 -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script th:inline="javascript">
  //페이지 진입 시
  $(document).ready(function() {
    console.log("작성 페이지 진입!!");
    // 현재 페이지의 URL에서 쿼리 파라미터를 가져오는 방법
    const urlParams = new URLSearchParams(window.location.search);
    // 'dailyDate' 파라미터의 값을 가져옴
    const dailyDate = urlParams.get('dailyDate');
    // 콘솔에 출력
    console.log(dailyDate);

    //작성일이 페이지에 자동으로 디폴값 설정되도록 처리
    $("#dailyDate").val(dailyDate);
  });



  /*datepicker 구현*/
  $(function() {
    //기본적으로 현재 날짜 선택됨
    $('input[name="dailyDate"]').daterangepicker({
      singleDatePicker: true, //날짜 선택기를 단일 날짜 선택 모드로 설정
      showDropdowns: true,    //날짜 선택 시 월과 년을 드롭다운으로 보여주기 위한 설정
      minYear: 1901,          //날짜 선택기에서 선택할 수 있는 최소 연도 설정
      maxYear: parseInt(moment().format('YYYY'),10), //날짜 선택기에서 선택할 수 있는 최대 연도를 현재 연도로 설정
      locale: {
        format: 'YYYY/MM/DD'   // 날짜 형식을 yyyy/mm/dd로 설정
      }
    }, function(start, end, label) {
      //var years = moment().diff(start, 'years');
    });
  });

  /* 숫자와 소수점만 허용하고, 다른 문자는 삭제 */
  var prev = "";
  var regexp = /^\d*(\.\d{0,2})?$/;
  function validateInput(obj) {
      var id = obj.id;
      var firstChar = obj.value.charAt(0);
      if(firstChar == "."){
        alert("첫 번째 값은 숫자로 입력해주세요.");
        $("#" + id).val("");
        return;
      }

      if(obj.value.search(regexp)==-1) {
          obj.value = prev;
      }
      else {
          prev = obj.value;
      }
  }

  function saveDailyWrite(){
    var memberId = $("#memberId").val();
    var dailyTitle = $("#dailyTitle").val();
    var dailyDate = $("#dailyDate").val();
    var dailyCurWt = $("#dailyCurWt").val();
    var dailyGoalWt = $("#dailyGoalWt").val();
    var dailyGoalSf = $("#dailyGoalSf").val();
    var dailyMemo = $("#dailyMemo").val();

    dailyDate = dailyDate.replaceAll("/","");
    dailyMemo = dailyMemo.trim();

    var dailyYear = dailyDate.substring(0,4);
    var dailyMonth = dailyDate.substring(4,6);
    /*
    console.log("데이터");
    console.log("memberId" + memberId);
    console.log("dailyTitle" + dailyTitle);
    console.log("dailyDate" + dailyDate);
    console.log("dailyCurWt" + dailyCurWt);
    console.log("dailyGoalWt" + dailyGoalWt);
    console.log("dailyGoalSf" + dailyGoalSf);
    console.log("dailyMemo" + dailyMemo);
    console.log("dailyYear" + dailyYear);
    console.log("dailyMonth" + dailyMonth);
    console.log("끝");
    */

    $.ajax({
       url : '../daily/dailyWrite',
       type : 'post',
       data: {
            memberId: memberId,
            dailyTitle: dailyTitle,
            dailyDate: dailyDate,
            dailyCurWt: dailyCurWt,
            dailyGoalWt: dailyGoalWt,
            dailyGoalSf: dailyGoalSf,
            dailyMemo: dailyMemo,
            dailyYear: dailyYear,
            dailyMonth: dailyMonth
       },
       success : function(response) {
          //console.log("success");

          // 서버에서 받은 alert 메시지와 리다이렉트 URL
          var alertMessage = response.alertMessage;
          var redirectUrl = response.redirectUrl;

          // alert을 띄운 후 리다이렉트
          alert(alertMessage);
          window.location.href = redirectUrl;

       }, error : function() {
          //console.log("fail");
       }
   });
  }
</script>
</html>