<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.boardId}"></td>
                <td><a th:href="@{/sjhealthy/board/read?boardId={id}(id=${board.boardId})}" th:text="${board.boardTitle}"></a></td>
                <td th:text="${board.memberId}"></td>
                <td th:text="${board.credat}"></td>
                <td th:text="${board.boardViews}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
