<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>추천 게시판</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=***REMOVED***&autoload=false"></script>

</head>
<body>
<h1>추천 게시판</h1>

<!--검색하여 정렬-->
<input type="search" id="searchByStoreName">
<input type="button" id="searchButton" value="검색">
    <table border="1" id="recTable">
        <thead>
        <tr>
            <th>상세보기</th> <!-- 상세보기 버튼-->
            <th>글 번호</th>
            <th>가게 이름</th>
            <th>추천 메뉴</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
            <th>좋아요</th>
            <th>싫어요</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="board : ${list}">
                <td>
                    <!-- th:attr로 HTML속성인 onclick을 동적 바인딩 
                        onclick 속성을 "" 문자열로 감싸고 ${}를 + 연산자로 감싸 JavaScript로 처리 -->
                    <input type="button" class="detailBtn" value="상세보기">
                </td>
                <!-- <td th:text="${board.recId}" th:value="${board.recId}" id="recId"></td> -->
                    <!-- td에는 value가 없다. 그래서 js에서 읽지 못하고 서버로 보내 null로 보내지는 오류가 있었다.
                    td는 value가 아니라 textContent 나 innerText로 읽어야 한다.
                    아니면 input 태그를 넣어 value로 읽는다-->
                <td><input type="text" th:value="${board.recId}" class="recId" readonly></td>
                <td th:text="${board.recStore}"></td>
                <td th:text="${board.recMenu}"></td>
                <td th:text="${board.memberId}"></td>
                <td th:text="${board.createDate}"></td>
                <td th:text="${board.recViews}"></td>
                <td>
                    <input type="button" class="recY" value="좋아요">
                </td>
                <td>
                    <input type="button" class="recN" value="싫어요">
                </td>
            </tr>
            <!-- 선택한 글만 열려서 좋아요싫어요 개수 보이게 만들기(그때 개수 서버에서 구해서 전달) -->
            <!-- 상세 페이지 / iterStat은 th:each에서 사용하는 반복 인덱스--> 
            <tr th:each="board, iterStat : ${list}" th:id="'detailRow-' + ${board.recId}" class="detail" style="display: none;">
                <td colspan="10">
                    <div>
                        <p><strong>가게 이름: </strong><span th:text="${board.recStore}"></span></p>
                        <p><strong>메뉴: </strong><span th:text="${board.recMenu}"></span></p>
                        <p><strong>좋아요: </strong><span th:id="'detail-like'+ ${iterStat.index}"></span></p> 
                        <p><strong>싫어요: </strong><span th:id="'detail-dislike'+ ${iterStat.index}"></span></p>
                    </div>    
                </td>    
            </tr>
        </tbody>
    </table>


    <input type="hidden" th:value="${loginId}" id="loginId">
    <!-- th:text는 html 요소의 텍스트 내용을 설정. 따라서 value로 읽으려면 th:value로 해야 한다 -->
    <a href="/sjhealthy"><button>메인</button></a>
    <a href="/sjhealthy/recommend/write" id="writeButton"><button>추천글 작성</button></a>

<script th:inline="javascript" th:src="@{/js/recList.js}"></script>

</body>
</html>
