<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>추천 게시판</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>추천 게시판</h1>

    <table border="1">
        <thead>
        <tr>
            <th>글 번호</th>
            <th>가게 이름</th>
            <th>추천 메뉴</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
            <th>좋아요</th>
            <th>싫어요</th>
        </tr>
        </thead>

        <tbody>
        <a id="detail">
            <tr th:each="board : ${list}">
                <td th:text="${board.recId}" th:value="${board.recId}" id="recId"></td>
                <td th:text="${board.recStore}"></td>
                <td th:text="${board.recMenu}"></td>
                <td th:text="${board.memberId}"></td>
                <td th:text="${board.createDate}"></td>
                <td th:text="${board.recViews}"></td>
                <td><input type="button" th:value="${board.recY}" id="recY"></td>
                <td><input type="button" th:value="${board.recN}" id="recN"></td>
            <!-- 바 형태로 표현했으면 좋겠다. -->
            </tr>
        </a>
        </tbody>
    </table>
    <input type="hidden" th:value="${loginId}" id="loginId"> 
    <!-- th:text는 html 요소의 텍스트 내용을 설정. 따라서 value로 읽으려면 th:value로 해야 한다 -->
    <a href="/sjhealthy"><button>메인</button></a>
    <a href="/sjhealthy/recommend/write" id="writeButton"><button>추천글 작성</button></a>

<script>
    document.addEventListener("DOMContentLoaded", ()=>{
        const writeButton = document.getElementById("writeButton");
        const loginId = document.getElementById("loginId").value;
        console.log('loginId = ' + loginId);

        if (writeButton){
            writeButton.addEventListener("click", async (e)=> {

                if (!loginId){ 
                    // 값이 없을 때는 null 이 아니라 "" 빈 문자열이 보내진다. 
                    // 따라서 서버에서 보낸 값을 text로 설정하고 value를 읽어와도 해당 속성 값이 없으니 null이 아니라 ""를 읽어오게 됨
                    // 서버에서 null을 보내도 렌더링 되는 과정에서 ""가 되기 때문에 
                    // 자바스크립트 조건문에서 null과 비교하는 건 의미가 없다.
                    // !로 하면 null일 때랑 빈 문자열일 때 둘 다 false로 판단하니까 이렇게 하면 됨
                    e.preventDefault(); // defaultPrevented는 이벤트가 취소됐는지 확인하는 메서드로 다른 거다. 잘못 쓰지 않도록 하자
                    alert('글은 회원만 작성할 수 있습니다.');
                    return false;
                }
            });
        }

        const recY = document.getElementById("recY").value;
        const recId = document.getElementById("recId").value;
        document.getElementById("recY").addEventListener("click", async (e)=> {
            e.preventDefault();

            // id당 1번 버튼 누르기 가능(좋아요/싫어요 중 택1)
            if (!loginId){
                e.preventDefault();
                alert('회원 전용 기능입니다.');
                return false;
            }

            try {
                const response = await fetch("/recommend/like", {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        recY: recY + 1,
                        recId: recId,
                        memberId: loginId
                    })
                });
                if (response.ok){ // HTTP 상태코드가 2xx일 때 true 반환
                    alert('좋아요가 반영되었습니다.');
                } else {
                    alert('이미 투표하셨습니다.');
                }
    
            } catch (error){
                console.log('오류 발생: ', error);
            }
    });


    });
</script>
</body>
</html>
