<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>header</title>
    <style>
    </style>
</head>

<body>
<div th:fragment="main-head" class="header" style="display:flex; align-items:center; justify-content:space-between; width: 100%;">
    <a href="/sjhealthy">
        <img src="/main_logo.jpg" alt="Logo" class="logo" style="width:200px; margin-left: 10px;">
    </a>

    <nav>
        <ul class="nav-ul" style="padding-top:10px; margin:0; padding:0; display:flex; list-style-type:none;">
            <li class="nav-li" style="border-left:1px solid #999; font:bold 25px Dotum; padding:0 10px; display:inline-block; border-left: none;"><a href="/sjhealthy/board" style="text-decoration:none; color:#000000;">커뮤니티</a></li>
            <li class="nav-li" style="border-left:1px solid #999; font:bold 25px Dotum; padding:0 10px; display:inline-block;"><a href="/sjhealthy/recommend" style="text-decoration:none; color:#000000;">추천 게시판</a></li>
            <li class="nav-li" style="border-left:1px solid #999; font:bold 25px Dotum; padding:0 10px; display:inline-block;"><a href="/sjhealthy/map" style="text-decoration:none; color:#000000;">내 주변 보기</a></li>
            <li class="nav-li" style="border-left:1px solid #999; font:bold 25px Dotum; padding:0 10px; display:inline-block;"><a href="/sjhealthy/daily/dailyList" style="text-decoration:none; color:#000000;">일지</a></li>
            <li class="nav-li" style="border-left:1px solid #999; font:bold 25px Dotum; padding:0 10px; display:inline-block;"><a href="/sjhealthy/statistics" style="text-decoration:none; color:#000000;">광장</a></li>

            <li class="nav-li" style="border-left:1px solid #999; font:bold 25px Dotum; padding:0 10px; display:inline-block;"><a href="/sjhealthy/member/mypage" style="text-decoration:none; color:#000000;">내 정보</a></li>
            <li class="nav-li" style="border-left:1px solid #999; font:bold 25px Dotum; padding:0 10px; display:inline-block;"><a href="/sjhealthy/member/logout" style="text-decoration:none; color:#000000;">로그아웃</a></li>

        </ul>
    </nav>
</div>

</body>
</html>