<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
<div th:fragment="main-head" class="main-head-header">
    <a href="/sjhealthy">
        <img src="/main_logo.jpg" alt="Logo" class="main-head-logo">
    </a>

    <nav>
        <ul class="main-head-nav-ul" >
            <li class="main-head-nav-li"><a href="/sjhealthy/board" class="main-head-a">커뮤니티</a></li>
            <li class="main-head-nav-li"><a href="/sjhealthy/recommend" class="main-head-a">추천 게시판</a></li>
            <li class="main-head-nav-li"><a href="/sjhealthy/map" class="main-head-a">내 주변 보기</a></li>
            <li class="main-head-nav-li"><a href="/sjhealthy/daily/dailyList" class="main-head-a">일지</a></li>
            <li class="main-head-nav-li"><a href="/sjhealthy/statistics" class="main-head-a">광장</a></li>
            <li class="main-head-nav-li" th:if="${loginId == 'admin'}"><a href="/sjhealthy/admin" class="main-head-a">관리자 기능</a></li>
            <li class="main-head-nav-li"><a href="/sjhealthy/member/logout" class="main-head-a">로그아웃</a></li>
        </ul>
    </nav>
</div>

</body>
</html>