<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <title>Layout</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>    <!-- 자바스크립트 jQuery : 스크립트를 이용한 효과 -->

  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="script"></th:block>
</head>

<body>
<!-- header 영역 -->
<div th:replace="~{fragment/header::main-head}"></div>
<div th:replace="~{fragment/headerNoSession::main-head}"></div>

<!-- content 영역 -->
<div layout:fragment="content"></div>

<!-- footer 영역 -->
<div th:replace="~{fragment/footer::main-foot}"></div>
</body>
</html>