<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <!-- 헤더 css -->
    <link rel="stylesheet" href="/css/header.css">
    <!-- 헤더, 메인, 푸터 위치 고정 -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragment/header :: main-head}"></div>
<main>
    <span style="background: #F9F7F6; border-left: 0.5em solid rgb(30,136,255); padding: 0.5em; font-weight: 600; font-size:15px;">관리자 기능</span>

    <nav>
    <button id="memberNav"><div>회원 관리</div></button>
    <button id="postNav"><div>게시물 관리</div></button>
    <!-- <button id="reportNav"><div>신고 관리</div></button> -->
</nav>

<!-- 게시판 -->
<div id="content">
<!-- 회원 리스트 -->
<table border="1">
    <thead>
    <tr>
        <th>탈퇴처리</th>
        <th>회원 아이디</th>
        <th>가입일</th>
        <th>이름</th>
        <th>이메일</th>
        <th>성별</th>
        <th>생년월일</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="member : ${memberList}">
        <td><a th:href="@{/sjhealthy/admin/member/delete/{id}(id=${member.memberId})}"><button class="adminButton">X</button></a></td>
        <td th:text="${member.memberId}" id="memberId"></td>
        <td th:text="${member.createDate}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberEmail}"></td>
        <td th:text="${member.memberGender}"></td>
        <td th:text="${member.memberBirth}"></td>
    </tr>
    </tbody>
</table>
</div>

<!-- 페이징 -->
<div id="pagination">
    
</div>
</main>
<script th:inline="javascript" th:src="@{/js/adminPage.js}"></script>

<div th:replace="~{fragment/footer :: main-foot}"></div>
</body>
</html>
