<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>연동 해제</title>
    <!-- 헤더, 메인, 푸터 위치 고정 -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragment/header :: main-head}"></div>
<main>
    <button id="deleteMember">회원 탈퇴</button>
    <button id="deleteGoogleOAuth">구글 연동 해제</button>
    <input type="hidden" id="memberId" th:value="${loginId}">
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript" th:src="@{/js/deleteGoogleAccount.js}"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const memberId = document.getElementById("memberId");
        const deleteMember = document.getElementById("deleteMember");
        const deleteGoogle = document.getElementById("deleteGoogleOAuth");

        deleteMember.addEventListener("click", async (e) =>{
            try {
                if (!window.confirm("정말로 탈퇴하시겠습니까?")){
                    e.preventDefault();
                    return false;
                }
        // 잘 작동하나 확인 필요
                console.log("memberID = " + memberId);
                await fetch("/sjhealthy/member/delete/${memberId}");
        
                console.log("탈퇴 요청");
            } catch(error){
                console.log("Error = " + error);
            }
        });

        // 이건 따로 js파일이 있어서 confirm 메시지만
        deleteGoogle.addEventListener("click", async (e)=> {
                if (!window.confirm("정말로 탈퇴하시겠습니까?")){
                    e.preventDefault();
                    return false;
                } 
        });
    });
</script>

<div th:replace="~{fragment/footer :: main-foot}"></div>
</body>
</html>
