<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LoginForm</title>
</head>
<body>
<div th:replace="~{fragment/headerNoSession :: main-head}"></div>
    <h1>비밀번호 찾기</h1>

<form action="../member/find-password" method="POST" th:if="${memberDTO == null}" id="findPasswordForm">
    아이디: <input type="text" id="memberId" name="memberId"><br>
    이메일: <input type="text" id="memberEmail" name="memberEmail"><br>
    <button id="sendMail" type="button">인증번호 전송</button><br>
    인증번호: <input type="text" name="verificationCode" placeholder="인증번호를 입력하세요." id="verificationCode"><br>
    <input type="submit" value="비밀번호 찾기" id="submit">
</form>
<!--경로: /api/mail/confirm/json-->
<script>
    document.addEventListener("DOMContentLoaded", ()=> {
        const sendCode = document.getElementById("sendMail");
        const submit = document.getElementById("submit");
        const findPasswordForm = document.getElementById("findPasswordForm");
        const check = /^(.*[a-zA-Z])(?=.*[.])[a-zA-Z\.]+$/;

        // 인증번호
        if (sendCode){
            sendCode.addEventListener("click", async (e)=> {
                e.preventDefault();
            try {
                const email = document.getElementById("memberEmail").value;
                const memberId = document.getElementById("memberId").value;

                // 유효성 검사
                if (!memberId){
                    alert("아이디를 입력해 주세요.");
                } else if (!email){
                    alert("이메일을 입력해 주세요.");
                } else if (!check.test(email)){
                    alert("이메일 형식을 확인해 주세요.");
                } else {
                    const response = await fetch("../api/mail/confirm/json", {
                        method: 'Post',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            email: email,
                            memberId: memberId
                        })
                    });
                    if (response.ok){
                        alert('해당 이메일로 인증번호를 전송하였습니다.\n확인 부탁드립니다.');
                    } else {
                        alert('메일 전송에 실패하였습니다.');
                    } 
                }
            } catch (error){
                console.log('오류 발생: ', error);
            }
        });
        }
 
        // 제출 버튼
        const verificationCode = document.getElementById("verificationCode").value;

        submit.addEventListener("click", (e) => {
            e.preventDefault();

            if (!verificationCode){
                alert("인증번호를 입력해 주세요.");
            } else {
                findPasswordForm.submit();
            }
        });

    });
</script>

<div th:replace="~{fragment/footer :: main-foot}"></div>
</body>
</html>
