<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LoginForm</title>
</head>
<body>
<div th:replace="~{fragment/header :: main-head}"></div>
    <h1>아이디 찾기</h1>

<form action="../member/find-id" method="POST" th:if="${memberDTO == null}">
    이름: <input type="text" name="memberName"><br>
    생년월일: <input type="password" name="memberBirth"><br>
    <input type="submit" name="findId" value="아이디 찾기">
</form>

<p th:if="${memberDTO != null}">
    찾으시는 아이디는 <input type="text" name="memberName" th:value="${memberDTO.memberId}" readonly>입니다.<br>
    <a href="../member/login"><button>로그인</button></a>
    <a href="../member/find-password"><button>비밀번호 찾기</button></a>
</p>

<div th:replace="~{fragment/footer :: main-foot}"></div>
</body>
</html>
