<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LoginForm</title>
</head>
<body>
<div th:replace="~{fragment/header :: main-head}"></div>
    <h1>비밀번호 찾기</h1>

<form action="../member/find-password" method="POST" th:if="${memberDTO == null}">
    아이디: <input type="text" id="memberId" name="memberId"><br>
    이메일: <input type="text" id="memberEmail" name="memberEmail"><br>
    <button id="sendMail" type="button">인증번호 전송</button><br>
    인증번호: <input type="text" name="verificationCode" placeholder="인증번호를 입력하세요."><br>
    <input type="submit" value="비밀번호 찾기">
</form>
<!--경로: /api/mail/confirm/json-->
<script>
    document.addEventListener("DOMContentLoaded", ()=> {
        const sendButton = document.getElementById("sendMail");

        if (sendButton){
            sendButton.addEventListener("click", async (e)=> {
                e.preventDefault();
            try {
                const email = document.getElementById("memberEmail").value;
                const memberId = document.getElementById("memberId").value;
                const response = await fetch("../api/mail/confirm/json", {
                    method: 'Post',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: email,
                        memberId: memberId
                    })
                });
                if (response.ok){
                    alert('해당 이메일로 인증번호를 전송하였습니다.\n확인 부탁드립니다.');
                } else {
                    alert('메일 전송에 실패하였습니다.');
                } 
            } catch (error){
                console.log('오류 발생: ', error);
            }
        });
        }
    });
</script>

<div th:replace="~{fragment/footer :: main-foot}"></div>
</body>
</html>
