<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LoginForm</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragment/header :: main-head}"></div>
    <h1>로그인</h1>
    <form action="../member/login" method="POST" id="loginForm">
        아이디: <input type="text" name="memberId" id="memberId"><br>
        비밀번호: <input type="password" name="memberPassword" id="memberPassword">
        <input type="submit" name="submit" value="로그인" id="submit">
    </form>

    <div>
        <a th:href="'https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=' + ${kakaoApiKey} + '&redirect_uri=' + ${kakaoRedirectUri}">
            <img th:src="@{/kakao_login_medium_narrow.png}">
        </a>
        <a th:href="'https://accounts.google.com/o/oauth2/v2/auth?client_id=' + ${client_id} + '&redirect_uri=' + ${redirect_uri} + '&response_type=code&scope=email+profile'">
            <img th:src="@{/web_light_sq_SI@1x.png}" alt="구글 로그인">
        </a>
    </div>

    <a href="../member/find-id"><button>아이디 찾기</button></a>
    <a href="../member/find-password"><button>비밀번호 찾기</button></a>
    <a href="../member/join"><button>회원가입</button></a>

<script th:inline="javascript">
    const alertMessage = /*[[${alertMessage}]]*/'';
    if (alertMessage) {
        alert(alertMessage);
    }

    document.addEventListener("DOMContentLoaded", ()=> {
        const submit = document.getElementById("submit");
        const google = document.getElementById("googleOAuth");
        const loginForm = document.getElementById("loginForm");

        console.log("로그인폼확인"); // 올바르게 참조되는지 확인
        console.log(loginForm); // 올바르게 참조되는지 확인

        // 로그인 유효성 검사
        loginForm.addEventListener("submit", (e) => {
            const id = document.getElementById("memberId").value;
            const password = document.getElementById("memberPassword").value;

            if (!id){
                alert("아이디를 입력해 주세요.");
                event.preventDefault();
            } else if (!password){
                alert("비밀번호를 입력해 주세요.");
                event.preventDefault();
            }
        });
        /*
        submit.addEventListener("click", (e) => {
            e.preventDefault();
            console.log("유효성은 타니?");

            const id = document.getElementById("memberId").value;
            const password = document.getElementById("memberPassword").value;
            const loginForm = document.getElementById("loginForm");

            if (!id){
                alert("아이디를 입력해 주세요.");
            } else if (!password){
                alert("비밀번호를 입력해 주세요.");
            } else {
                // loginForm.submit();
                submitLoginForm(id, password);
            }
        });
        */

        // 로그인 데이터 제출 후 로그인 처리
        async function submitLoginForm(id, password){

            try {
                const response = await fetch("/sjhealthy/member/login", {
                 method: "POST",
                 headers: {
                     "Content-Type": "application/json"
                 },
                 body: JSON.stringify({
                     memberId: id,
                     memberPassword: password
                 })
                }); 
                const data = await response.json();
                if (response.status === 200){
                    alert(data.message);
                    window.location.href = "/sjhealthy";
                } else {
                    console.log("로그인 실패");
                    alert(data.message);
                }
            } catch (error){
                console.log("Error: " + error);
            }

        }

        // // 구글 로그인 버튼
        // google.addEventListener("click", (e)=>{
        //     e.preventDefault();

        //     googleOAuthLogin();
        // });

        // function googleOAuthLogin(){
        //     const client_id = /*[[${client_id}]]*/'';
        //     const redirect_uri = /*[[${redirect_uri}]]*/'';
    
        //     const url = "https://accounts.google.com/o/oauth2/v2/auth?client_id=" + client_id
        //         + "&redirect_uri=" + redirect_uri
        //         + "&response_type=code&scope=email+profile"; // scope 에 요청 정보
        //     window.location.href = url; // 로그인 페이지로 리다이렉트
        // }
});
</script>
<div th:replace="~{fragment/footer :: main-foot}"></div>
</body>
</html>
