<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <h1>메인</h1>
    <a href="/sjhealthy/member/join" th:if="${loginId == null}"><button>회원가입</button></a>
    <a href="/sjhealthy/member/login" th:if="${loginId == null}"><button>로그인</button></a>

    <!-- 내 정보는 아직 안 만듦 -->
    <a href="/sjhealthy/member/mypage" th:if="${loginId != null}"><button>내 정보</button></a>
    <a href="/sjhealthy/member/logout" th:if="${loginId != null}"><button>로그아웃</button></a>

    <a href="/sjhealthy/board/list"><button>커뮤니티</button></a>
    <a href="/sjhealthy/recommend"><button>추천 게시판</button></a>
    <a href="/sjhealthy/map"><button>내 주변 보기</button></a>
</body>
</html>
