<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Set New Password</title>
    <!-- 헤더, 메인, 푸터 위치 고정 -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="~{fragment/header :: main-head}"></div>
<main>
    <h1>비밀번호 변경</h1>
<!-- 내용 수정해야함-->
<form action="../member/set-new-password" method="POST">
    비밀번호: <input type="password" name="password" id="password" required><br>
    비밀번호 확인: <input type="password" name="passwordCheck" id="passwordCheck" required><br>
    <input type="submit" id="submitButton" value="비밀번호 변경">
</form>
</main>
<script>
    document.addEventListener("DOMContentLoaded", ()=> {
        const submitButton = document.getElementById("submitButton");
        const form = document.querySelector("form");
        
        try{
            submitButton.addEventListener("click", (e)=>{
                e.preventDefault();
    
                const password = document.getElementById("password").value;
                const passwordCheck = document.getElementById("passwordCheck").value;
                
                if (password === "" || passwordCheck === ""){
                    alert('변경하실 비밀번호를 입력해 주세요.');
                    return;
                }
                if (password != passwordCheck){
                    alert('비밀번호가 일치하지 않습니다.');
                    return;
                }
                form.submit(); // 일치시 원래대로 서버로 보냄
            });
        } catch(error){
            console.log('오류 발생: ' + error);
        }
    });
</script>
<div th:replace="~{fragment/footer :: main-foot}"></div>
</body>
</html>
